<html>
    <body>
        <center><h1>Sarthak</h1></center>
        <hr/>
        <a href="/">Home</a> 
        <a href="/about">About</a>
        
        <hr/>
        {{{body}}}
        <hr/>
        
    </body>
</html>