<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      a{
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <li><a href="/sum">sum</a></li>
      <li><a href="/signup">signup</a></li>
      <li><a href="/mark">mark</a></li>
      <li><a href="/login">login</a></li>
      <li><a href="/home">home</a></li>
    </ul>
  </body>
</html>
