<form action ="" method="post">            
Math:<input type="text" name="text1"/>
Physics:<input type="text" name="text2"/>
Chemistry:<input type="text" name="text3"/>
Computer:<input type="text" name="text4"/>
English:<input type="text" name="text5"/>
<input type="submit"/>

</form>


