<form method="post" enctype="multipart/form-data">
    Product Name: <input type="text" name="txt1"/>
    product Image :<input type="file" name= "file1"/>
    Product Price :<input type="text" name="txt2"/>

    <button>ADD</button>
   
</form> <a href="/product/display"><button>Display</button></a>