<h1>Category</h1>
{{mydata.length}} Records Found
<table border='1'>
    <tr>
        <th>Category Name</th>
        
    </tr>

{{#each mydata}}
    <tr>
    <td>{{category}}</td>
  
    <td>
        <a href="/category/edit/{{_id}}">Edit</a> |
        <a href="/category/delete/{{_id}}">Delete</a>

    </td>
    </tr>
{{/each}}


</table>