
<form method="post" enctype="multipart/form-data">
    Product Name: <input type="text"  value="{{mydata.Product}}" name="txt1"/>
    product Image :<input type="file" value="{{mydata.Image}}" name= "file1"/>
    Product Price :<input type="text"  value="{{mydata.Price}}"name="txt2"/>

    <button>ADD</button>
   
</form> <a href="/product/display"><button>Display</button></a>