

.column {
    float: left;
    width: 30%;
    padding: 50px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
 
  
  h1, h2, h3 {
  margin: 0px;
  padding: 0px;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  font-weight: normal;
  color: #018AD1;
  }
  
  h1 {
  font-size: 2em;
  }
  
  h2 {
  font-size: 2.4em;
  }
  
  h3 {
  font-size: 1.6em;
  }
  
  
  
  
  
  a {
  text-decoration: none;
  color: #0285CE;
  }
  
  
  
  #header {
  clear: both;
  width: 1000px;
  margin: 0px auto;
  }
  
  /* Logo */
  
  #logo {
  margin: 0px;
  padding: 30px 0px;
  color: #000000;
  }
  
  #logo h1, #logo p {
  margin: 0;
  padding: 0;
  text-align: center;
  }
  
  #logo h1 {
  margin: 0px;
  padding: 0px;
  text-transform: lowercase;
  font-size: 3.8em;
  color: #FFFFFF;
  }
  
  #logo h1 span {
  color: #FFFFFF;
  }
  
  #logo p {
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  font-family: 'Arvo', serif;
  color: #FFFFFF;
  }
  
  #logo p a {
  color: #FFFFFF;
  }
  
  #logo a {
  border: none;
  background: none;
  text-decoration: none;
  color: #FFFFFF;
  }
  
  

  
 
  
 
  
  /* Page */
  
  #page {
  overflow: hidden;
  width: 920px;
  margin: 0px auto;
  padding: 30px 40px;
  background: url(images/page-bg.png) repeat-y left top;
  }
  
  #page-bgtop {
  width: 1000px;
  height: 25px;
  margin: 0px auto;
  background: url(images/page-bgtop.png) no-repeat left top;
  }
  
  #page-bgbtm {
  width: 1000px;
  height: 35px;
  margin: 0px auto;
  background: url(images/page-bgbtm.png) no-repeat left top;
  }
  
  /* Content */
  
  #content {
  float: left;
  width: 580px;
  }
  
  .post {
  margin-bottom: 15px;
  border-bottom: 1px dashed #D8D8D8;
  }
  
  
  
  .post .title {
  height: 38px;
  margin-bottom: 10px;
  padding: 12px 0 0 0px;
  font-size: 32px;
  }
  
  .post .title a {
  border: none;
  color: #018AD1;
  }
  
  .post .meta {
  margin-bottom: 30px;
  padding: 5px 0px 15px 0px;
  text-align: left;
  font-weight: normal;
  }
  
  .post .meta .date {
  float: left;
  }
  
  .post .meta .posted {
  float: right;
  }
  
  
  
  .post .entry {
  padding: 0px 0px 20px 0px;
  padding-bottom: 20px;
  text-align: justify;
  }
  
  .links {
  height: 30px;
  padding: 30px 0px 0px 0px;
  font-size: 14px;
  font-weight: normal;
  color: #1C1C1C;
  }
  
  /* Sidebar */
  
  
 
  
 
  
  
  
  
  
  
  
  
  .form-group
  {
         background  :rgb(242, 243, 248);
        width: 400px;
        height: 600px;
        border-radius: 5%;
        position: relative;
        margin: 6% auto;
        /*background: #FFF;*/
        padding-left:10px;
        margin-right: 100px;
        overflow: hidden;
        text-align: left;
       float: right;
    }
    .form-container{
      padding-left: 500px;
    }
  
  
  
    input[type=text],input[type=email],input[type=password],input[type=date],select,input[type=number]{
      width: 50%;
      padding: 14px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 2px solid red;
      border-radius: 5px;
      border: none;
    }
     
    .submit-btn {
      width: 130px;
      height: 40px;
      font-size: 1.1em;
      cursor: pointer;
      display: block;
      margin:  auto;
      background: linear-gradient(to right, #ff105f, #ffad06);
      border-radius: 20px;
    }
    .submit-btn:hover{
                      Border-radius : 5px;
                      transform: translateY( -10px );
                      box-shadow: 0 7px 0 -2px #f85959,
                      0 15px 0 -4px #39a2db,
                      0 10px 10 px -3px #39a2db;
    }