<form method="post">
    Name:<input type="text" value={{employeedata.user_name}} name="txt1">
    email:<input type="email" value={{employeedata.user_email}} name="email">
    <button>submit</button>
</form>