<form method="post" action="/add"  enctype="multipart/form-data">
    Name:<input type="text" name="txt1"><br/><br/>

    gender:<input type="radio" value="male" name="txt2"> Male<input type="radio" value="Female" name="txt2"> Female<br/><br/>
    email:<input type="email" name="txt3"><br/><br/>
    password:<input type="text" name="txt4"><br/><br/>
    joindate<input type="date" name="txt5"><br/><br/>
    photo<input type="file" name="file123"><br/><br/>
    hobby:<input type="checkbox" value="chess"name="txt7">Chess<br/><br/>
    <input type="checkbox"value="cricket" name="txt7">Cricket<br/><br/>
    <button>Submit</button>
</form>
<a href="/display"><button>display</button></a>