<form method="post">
    <table>
        <tr>
        <td>Old password</td>
        <td><input type="text" placeholder="Enter old password " name="opass"></td>
    </tr>
    <tr>
        <td>New password</td>
        <td><input type="text" placeholder="Enter old password " name="npass"></td>
    </tr>
    <tr>
         <td>confirm password</td>
        <td><input type="text" placeholder="Enter old password " name="cpass"></td>
    </tr>
    <tr>
        <td><input type="submit"></td>
        <td><input type="reset"></td>
    </tr>
    
    
    
    </table>
</form>