<form method="post">
    Email:<input type="email" name="txt1"/>
    password:<input type="text" name="txt2"/>
    <button>submit</button> 
</form>
<a href="/signup">Create an Account?</a>
<a href="/forgot-password">Forgot password?</a>