
<link rel="stylesheet" href="stylesheets/style.css">
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">About</a></h1>
			
		</div>
	</div>
</div>
<div id="wrapper"> 
	<!-- end #header -->
	<div id="page-bgtop"></div>
	<div id="page">
		
			<div id="content">
            	<h1>Welcome to the about </h1>

<p>Experts say that people (adults) need at least 6 hours of sleep every night. If they do not get enough sleep they will feel sleepy the whole day. Younger kids need at least 9 hours of sleep every night. After school – activities can take away from sleep time for kids. Also parents with busy life styles stay up late and their kids do the same.

Kids with little sleep have hard time sleeping at night and this will affect their daily routine and make them less active and productive trough the day in school.

Most parents are not aware of what goes on when their kids go to sleep and how the brain works when we are asleep.

Many people think that the brain shuts down when we go to sleep but it is the opposite. Experts say that the brain is very active when we are asleep and could be even more active than when we are awake.

Experts recommended at least 6 hours of sleep for adults and 9 hours of sleep for young children. They say that sleep is an essential not a comfort and it can increase your life expectancy.  </p>

                    </div>
		<!-- end #content -->
		