
<link rel="stylesheet" href="stylesheets/style.css">
<div id="header-wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">Photos</a></h1>
		
		</div>
	</div>
</div>
<div id="wrapper"> 
	<!-- end #header -->
	<div id="page-bgtop"></div>
	<div id="page">
		
		<div id="content">
            <img src="images/1.jpg" width="520" height="250" alt="" /><br/><br/>
            		<img src="images/4.jpg" width="520" height="250" alt=""><br/><br/>
                    <img src="images/2.jpg" width="520" height="250" alt="">
                    </div>
		<!-- end #content -->
		