<html>
    <body>
        <form method="post" action="" enctype="multipart/form-data">
        file:<input type="file" name="file1">
        <input type="submit">
        
        </form>
    </body>
</html>