<form method="POST" action="/add">
    Name:<input type="text" name="txt1"><br/><br/>
    Age:<input type="text" name="txt2"><br/><br/>
    Mobile:<input type="text" name="txt3"><br/><br/>
    <button>Submit</button>
</form>
<a href="/display"><button>display</button></a>