<form method="POST">
    Name:<input type="text" value="{{mydata.user_name}}" name="txt1"><br/><br/>
    Age:<input type="text" value="{{mydata.user_age}}" name="txt2"><br/><br/>
    Mobile:<input type="text" value="{{mydata.user_mobile}}" name="txt3"><br/><br/>
    <button>Submit</button>
</form>