<h1>Home</h1>
<a href="/change-password">Change-password</a>


<h1>Category</h1>      <a href="/category">add Category</a> | <a href="/category/display">display Category</a>
<h1>Product</h1>      <a href="/product">add Product</a> | <a href="/product/display">display Product</a>